sudo: required

services:
  - docker

before_install:
  - docker login -e="$DOCKER_EMAIL" -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"

script:
  - docker build -t ${DOCKER_USERNAME}/susi-builder:${TRAVIS_BRANCH} susi-builder
  - docker push ${DOCKER_USERNAME}/susi-builder:${TRAVIS_BRANCH}
